<div class="background" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url('https://images.unsplash.com/photo-1485140662179-98e1bcb8e974?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96549f65c78569876e32981e3fc10ae7&auto=format&fit=crop&w=963&q=80');">
  <div class="luser">
    <h2>
      @<%= @user.username %>
    </h2>
  </div>
</div>

<div class="prof-contain">
  <div class="prof-mini-contain">
    <div class="prof-photo">
      <img src="https://images.unsplash.com/photo-1485742032238-7543513eeba6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fcb9b99a534c70a94cf558bd07d3bffd&auto=format&fit=crop&w=1050&q=80" style="width:200px; height:200px;">
    </div>

    <div class="prof-desc">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <h5>@<%= @user.username %></h5>
      <h5><%= @user.bio %></h5>
    </div>

    <div class="prof-btns">
      <%= link_to "Put out a commission", new_commission_path, class: "turquiose-btn" %>
      <%= link_to "Add art", new_art_path, class: "turquiose-btn" %>
    </div>
  </div>

  <div class="prof-portfolio">

  </div>

</div>

<div>
  <% if current_user.id == @user.id %>
    <% unless current_user.orders.empty? %>
      <h3>Your orders</h3>
      <% current_user.orders.each do |order| %>
        <% if order.photo %>
          <p>Your order is complete! Check your awesome request below</p>
          <%= cl_image_tag(order.photo) %>
        <% else %>
          <p>The artist is working on this order!</p>
        <% end %>
      <% end %>
    <% end %>
    <% unless current_user.commissions.empty? %>
      <h3>My Commissions</h3>
      <% current_user.commissions.each do |commission| %>
        <%= commission.title %>
        <ul>
          <% commission.requests.each do |request| %>
            <li><%= request.description %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <% unless current_user.requests.empty? %>
      <h3>Requests that I made</h3>
      <ul>
        <% current_user.requests.each do |request| %>
          <li><%= request.description %></li>
        <% end %>
      </ul>
    <% end %>


    <% unless current_user.orders_as_commissioner.empty? %>
    <h3>Orders as a commissioner</h3>
      <% current_user.orders_as_commissioner.each do |order| %>
        <%= order.id %>
        <% if order.photo_url %>
          Order complete
        <% else %>
          Work in progress
        <% end %>
      <% end %>
    <% end %>


    <% unless current_user.orders_as_commissionee %>
      <h3>Orders as a commissionee</h3>
      <h1><%= current_user.orders_as_commissionee.count %></h1>
      <ul>
        <% current_user.orders_as_commissionee.each do |order| %>
          <% if order.photo_url %>
            Wait for feedback
          <% else %>
            <%= simple_form_for order do |f| %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.submit %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>



