<div class="navbar-wagon">
  <!-- Logo -->
  <h3>
    <%= link_to root_path, class: "navbar-heading" do %>
      <span class="turquiose-letter">c</span>ART
    <% end %>

  </h3>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <h5><%= link_to "Art", users_path, class: "navbar-wagon-item navbar-wagon-link #{'navbar-underline' if params[:controller] == 'users' && params[:action] == 'index'}" %></h5>
      <h5><%= link_to "Commissions", commissions_path, class: "navbar-wagon-item navbar-wagon-link #{'navbar-underline' if params[:controller] == 'commissions'}" %></h5>

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <h5><%= link_to "Profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link #{'navbar-underline' if params[:controller] == 'users' && params[:action] == 'show'}" %></h5>
      <h5><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></h5>
      <!-- Avatar with dropdown menu -->

    <% else %>
      <!-- Login link (when logged out) -->
      <h5><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></h5>
    <% end %>
  </div>
</div>

