
<div class="artist-search-container">
  <div class="artist-search-icon">
    <h5 class="fas fa-search"></h5>
  </div>
  <div class="artist-border">
    <%= form_tag commissions_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control artist-search",
      placeholder: "Find a commission"
  %>
  <% end %>
  </div>
</div>

<div class="container artist-container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="artist-column commission-column">
          <% @commissions.select{ |commission| commission.id.even?}.each do |commission| %>
              <div class="com-index-card">
                <%= link_to commission_path(commission) do  %>
                  <div class="com-link"></div>
                  <div class="com-content">
                    <h3><%= commission.title %></h3>
                    <h5><%= commission.description %></h5>
                    <% if commission.amount %>
                      <h3>£<%= commission.amount %></h3>
                    <% else %>
                      <h5>No price range specified</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
         <div class="artist-column commission-column">
           <% @commissions.select{|commission| commission.id.odd?}.each do |commission| %>
              <div class="com-index-card com-card-height">
                <%= link_to commission_path(commission) do  %>
                  <div class="com-link"></div>
                  <div class="com-content">
                    <h3><%= commission.title %></h3>
                    <h5><%= commission.description %></h5>
                    <% if commission.amount %>
                      <h3>£<%= commission.amount %></h3>
                    <% else %>
                      <h5>No price range specified</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
