<div class="container artist-container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="artist-column">
          <% @commissions.select{|commission| commission.id.even?}.each do |commission| %>
              <div class="com-index-card">
                <%= link_to commission_path(commission) do  %>
                  <div class="com-link"></div>
                  <div class="com-content">
                    <h3><%= commission.title %></h3>
                    <h5><%= commission.description %></h5>
                    <% if commission.amount %>
                      <h3>£<%= commission.amount %></h3>
                    <% else %>
                      <h5>No price range specified</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
         <div class="artist-column">
           <% @commissions.select{|commission| commission.id.even?}.each do |commission| %>
              <div class="com-index-card com-card-height">
                <%= link_to commission_path(commission) do  %>
                  <div class="com-link"></div>
                  <div class="com-content">
                    <h3><%= commission.title %></h3>
                    <h5><%= commission.description %></h5>
                    <% if commission.amount %>
                      <h3>£<%= commission.amount %></h3>
                    <% else %>
                      <h5>No price range specified</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
