<div class="banner banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @commission.photo %>');">
</div>

<div class="commission-section">
  <div class="container">
    <div class="commission_box">
      <div class="commission_show_left">
        <h2> <%= @commission.title %></h2>
        <% if @commission.amount %>
          <h4>£<%= @commission.amount %></h4>
        <% end  %>
      </div>

      <div class="commission_show_right">
        <div class="commission_show-description">
          <h2>Description <%# @commission.description %></h2>
          <%= link_to "Request Commission", new_commission_request_path(@commission), class: "show-btn-commission" %>
        </div>
        <h4><%= @commission.description %></h4>
      </div>
    </div>
    <!-- <h2>Email:<%#= @commission.user.email %></h2> -->
  </div>
</div>



<% unless @commission.status %>
  <% if @user.id == @commission.user.id %>
    <%= link_to "Edit", edit_commission_path(@commission) %>
    <%= link_to "Delete", commission_path(@commission),
          method: :delete,
          data: { confirm: "Delete commission?"} %>
    <%= link_to "Commission Requests", commission_requests_path(@commission) %>
    <% if @commission.requests %>
      <% @commission.requests.each do |request| %>
        <%= request.description %>
        <p> Amount: <%=  humanized_money_with_symbol(request.price_cents) %></p>
        <%= link_to "Accept", request_path(request) %>
      <% end %>
    <% end %>
  <% else %>
    <%# link_to "Request Commission", new_commission_request_path(@commission) %>
  <% end %>
<% else %>
  <h2>this commission has been accepted!</h2>
  <% if @user.id == @commission.user.id %>
    <%= link_to "Delete", commission_path(@commission),
          method: :delete,
          data: { confirm: "Delete commission?"} %>
  <% end %>
<% end %>




