<h2>Commission show page</h2>

<div>
  <h2>Title: <%= @commission.title %></h2>
  <h2>Description: <%= @commission.description %></h2>
  <h2>£<%= @commission.amount %></h2>
  <h2>Image:<%= @commission.photo %></h2>
  <h2>Email:<%= @commission.user.email %></h2>
</div>


<%= link_to "Edit", edit_commission_path(@commission) %>
<% if @user.id == @commission.user.id %>
  <%= link_to "Edit", edit_commission_path(@commission) %>
  <%= link_to "Delete", commission_path(@commission),
        method: :delete,
        data: { confirm: "Delete commission?"} %>
<% end %>

